
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# Uploads (fichiers locataires)
/var/uploads/

# IDE
/.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
