{% extends 'base.html.twig' %}
{% block card_open %}{% endblock %}
{% block card_close %}{% endblock %}
{% block title %}Nouveau locataire{% endblock %}
{% block body %}
    <div class="dashboard-header">
        <div><h1>Nouveau locataire</h1></div>
        <a href="{{ path('app_tenant_index') }}" class="btn-sm">← Retour</a>
    </div>
    <div class="card">
    {{ include('tenant/_form.html.twig', {'button_label': 'Créer'}) }}
    </div>
{% endblock %}